/* Estilos principais do slider */
.projectsSliderColumn {
    background: url('../images/wood-texture.jpg') no-repeat center;
    background-size: cover;
    padding: 20px;
    border: 2px solid #3e2723;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden; /* Esconder conteúdo que sai do container */
}

/* Título da seção de projetos */
.projectsSliderColumn h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #d4af37;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffdd00;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para melhorar a legibilidade */
}

/* Contêiner do carrossel */
.sliderContainer {
    display: flex;
    overflow-x: scroll; /* Permitir rolagem horizontal */
    scroll-behavior: smooth; /* Faz a rolagem suave */
    padding: 10px;
    gap: 10px; /* Espaçamento entre os artigos */
}

/* Esconder o scrollbar */
.sliderContainer::-webkit-scrollbar {
    display: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.sliderContainer {
    -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
    scrollbar-width: none;  /* Para Firefox */
}

/* Estilos de cada projeto no carrossel */
.projectArticle {
    display: flex;
    flex-direction: row; /* Altera para linha para imagem à direita */
    min-width: 300px; /* Tamanho mínimo de cada card */
    margin: 0 10px;
    background-color: #ffdd00;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transition: transform 0.3s ease; /* Animação para hover */
    height: 200px; /* Ajuste da altura para facilitar a visualização */
}

/* Bloco de conteúdo do projeto */
.contentWrapper {
    flex: 1; /* Permite que o conteúdo ocupe espaço restante */
    padding-right: 10px; /* Espaço entre texto e imagem */
}

/* Título e subtítulo do projeto */
.projectTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.projectSubtitle {
    font-size: 1.2rem;
    color: #3e2723; /* Cor do subtítulo */
}

/* Imagem do projeto */
.imageWrapper {
    flex: 0 0 150px; /* Largura fixa para a imagem */
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.projectImage {
    border-radius: 8px;
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto;
    object-fit: cover; /* Mantém a proporção da imagem */
}

/* Controles do slider */
.sliderControls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sliderButton {
    background-color: #d4af37;
    border: none;
    color: #3e2723;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sliderButton:hover {
    background-color: #ff8c00;
}
